
.a {
    position: relative;
    font-size: large;
    background-image: linear-gradient(to top, rgba(13, 12, 12, 0), rgba(255, 255, 255, 0.627)), url(truck3.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    font-family: 'Times New Roman', Times, serif
}

.header {
    text-shadow: 1.5px 1.5px 1px;
    font-family: serif;
    position: absolute;
    font-size: 45px;
    font-weight: bold;
    padding-top: 45px;
    border-left: 10px;
    margin-left: 10px;
    padding-left: 40px;
}

nav h1 {
    font-size: 1.3em;
}

@media (min-width: 768px) and (max-width: 1992px) {
    .login {
        position: relative;
        display: flex;
        height: 60px;
        margin-left: 1250px;
        margin-top: 40px;
        padding-top: 10px;
        padding-right: 20px;
        text-decoration: none;
        color: rgb(247, 238, 238);
    }
    .login a{
        text-align: center;
        text-decoration: none;
    }

}

.signin {
    color: aliceblue;
    background-color: rgba(13, 12, 12, 0.732);
    border-radius: 10px;
    margin-left: 46px;
    margin-top: 120px;
    width: max-content;
    display: block;
    padding-left: 40px;
    padding: 30px;
    box-shadow: 2px 4px 2px 3px;
    

}

.c {
    color: black;
    font-size: 2em;
    margin-top: 180px;
    opacity: 75%;
    background-color: aliceblue;
}

.c h1 {
    font-size: 60px;
}

.b {
    text-shadow: 1.5px 1px 1px #000000;
    color: black;

    background-color: white;
    width: 600px;
    margin-left: 470px;
}
.mc{
    margin-top: 12px;
}

.f {
    display: flex;
}

.d {

    width: 35%;
    min-height: fit-content;
    background: rgb(58, 136, 184);
    text-align: center;
    padding: 20px;
    color: #fff;
    margin: 0 auto 25px;
    margin-left: 175px;
    border-radius: 6px;
}

.d ul {
    padding: 0;
    list-style: none;
}

.e {

    width: 35%;
    min-height: fit-content;
    background: rgb(58, 136, 184);
    text-align: center;
    padding: 20px;
    color: #fff;
    margin: 0 auto 25px;
    margin-right: 175px;
    border-radius: 6px;
}

.e ul {
    padding: 0;
    list-style: none;
}
.g{
    width: 35%;
    min-height: fit-content;
    background: rgb(58, 136, 184);
    text-align: center;
    padding: 20px;
    color: #fff;
    margin-left: 500px;
    border-radius: 6px;

}
.g ul{
    padding: 0;
    list-style: none;
}
.mid{
    margin-top: 0px;
    background-color: #000000;
    color: #fff;
}
.main{
    padding-top: 50px;
    margin-top: 0px;
    display: flex;
    margin-bottom: 10px;
}
.how{
    margin-left: 270px;
    text-align: center;
}
.it{
    text-align: center;
    margin-left: 160px;
}
.works{
    text-align: center;
    margin-left: 160px;
}
.Services{
    margin-top: 0px;
}
.list{
    align-items: center;
    text-align: center;
}
.list ol{
    list-style: none;
    align-items: center;
    padding-top: 50px;
    padding-left:50px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #000000;
    color: #fff;
}
.list a{
    text-decoration: none;
    color: #fff;
}
.list a:hover{
    color: rgb(58, 136, 184); ;
    text-decoration: underline;
}
.foot{
  
    padding: 28px;
    margin-top: 0px;
    color: #fff;
    background-color: rgb(58, 136, 184);
}
.z{
    display: flex;
}
.no{
    display:flex ;
}
.inf{
    margin-left: 815px;

}

.flx{
    text-align: justify;
}
.aa{
    margin: 0px;
    display: block;
    margin-block-start: 1em;
}
.bb{
    margin: 0px;
    display: block;
}
.cc{
    margin: 0px;
    display: block;
    margin-block-start: 1em;  
}
.dd{
    margin: 0px;
    display: block;
}
.cnct{
    padding-top: 8px;
    margin-left: 350px;
    position: relative;
}
.cnct a{
    text-decoration: none;
    color: #fff;
}
.cnct a:hover{    
    color: orange;
}
.cnct a:hover::after{
    text-decoration:underline ;
    transform: translate(50%, 50%);
    color: #fff;
    width: 100%;
    height: 2px;
    animation: 3s;
}